.container {
  padding-top: 50px;
  width: 100%;
  height: 100px;
  text-align: center;
  display: inline-block;
}

.searchBar {
  width: 70%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 15px 0 0 15px;
  padding: 15px;
  font-size: large;
}

.searchButton {
  width: 10%;
  height: 80px;
  font-size: large;
  border-radius: 0 15px 15px 0;
}
